<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navebar.ejs") %>
<body>
<div class="container">
    <span class="d-flex justify-content-between">
        <h3 class="">Usuarios</h3>
        <a href="/admin/usuario/create" class="btn btn-primary ">ADD</a>
    </span>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Senha</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <% Usuarios.forEach( (usuario) => { %>
                <tr>
                    <td> <%= usuario.id %> </td>
                    <td> <%= usuario.email %> </td>
                    <td> <%= usuario.senha %> </td>
                    <td>
                        <a href="/admin/usuario/edit/<%= usuario.id %>" class="btn btn-info">EDITAR</a>
                        <form method="post" class="d-inline" action="/admin/usuario/deletar" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= usuario.id %>">
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</body>
<%- include("../../partials/footer.ejs") %>
