<%- include("../../partials/header.ejs") %>
<body>
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de Usuários</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/autenticacao">
                <input type="text" name="email" class="form-control" required="required" placeholder="E-mail do usuario" value="<% if ( typeof email != 'undefined'){%><%=email%><%}%>" >
                <br>
                <input type="password" name="senha" class="form-control" required="required" placeholder="Senha do usuario">
                <br>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary">Logar</button>
<!--                    <a href="/admin/usuarios" class="btn btn-info"></a>-->
                </div>

                <% if (typeof msg_sucesso != "undefined") { %>
                    <br>
                    <div class="alert alert-success" role="alert">
                        <%= msg_sucesso %>
                    </div>
                <% }%>

                <% if(typeof msg_erro != "undefined") {%>
                    <br>
                    <div class="alert alert-danger">
                        <%= msg_erro %>
                    </div>
                <% } %>

            </form>
        </div>
    </div>
</div>
</body>
<%- include("../../partials/footer.ejs") %>